@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&display=swap');

.montserrat-regular {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal, italic;
}

;

/* Používáme intuitivní výpočet rozměrů prvků. */
*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-family: "Montserrat", sans-serif;
}

body {
  margin: 0;
  line-height: 1.7em;
  background: rgb(241,255,255);
  background: radial-gradient(circle, rgba(241,255,255,1) 0%, rgb(153, 211, 221) 100%);
  color: #ffffff;
}


a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  padding: 8px 0;
}

.menu__list > a:hover,
.active {
  border-bottom: 2px solid white;
}

button {
  border: none;
  background-color: #ffffff;
  padding: 15px 20px;
  border-radius: 25px 25px;
}

button > a {
  color: black;
  font-weight: 600;
}

button:hover {
  transition-duration: 0.4s;
  background-color: transparent;
  border: #ffffff 2px solid;
  box-shadow: inset 0 0 50px rgb(255, 255, 255)
}

.link {
  color: #147E68;
  font-weight: 600;
}

.link:hover {
  filter: brightness(115%) contrast(85%);
}

article {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 100vw;
  margin: 0 auto;
}

ul {
  list-style-type: none;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu__list {
  padding: 0 10%;
}

header,
footer {
  padding: 1% 0 1% 0;
  background: linear-gradient(90deg, rgba(0, 77, 58, 1) 0%, rgba(27, 124, 101, 1) 100%);
  color: rgb(255, 255, 255);
}

footer {
  text-align: center;
}

.container {
  /* TOHLE TU BYLO PŘEDDEFINOVANÉ: max-width: 20rem; */
  margin-right: auto;
  margin-left: auto;
  display: flex;
}

.green {
  background: linear-gradient(90deg, #004A39, #147E68 30%, #B3D6D2 55%)
}

.green,
.pink {
  flex-direction: row-reverse;
}

.green,
.white,
.pink {
  justify-content: center;
  align-items: center;
  padding: 5% 15%;
}

.white {
  background: white;
  color: black;
}

.pink {
  background: #F4D8D8;
  padding: 0% 15%;
  color: black;
}

.container__text--green,
.container__text--pink {
  padding: 10% 10% 10% 2%;
  text-align: justify;
}

.container__text--white {
  padding: 10% 2% 10% 10%;
  text-align: justify;
}

img {
  max-width: 370px;
  border-radius: 20px;
}
