@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&display=swap');

.montserrat-regular {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal, italic;
};

.montserrat-semiBold {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal, italic;
};

.montserrat-black {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
};

/* Používáme intuitivní výpočet rozměrů prvků. */
*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-family: "Montserrat", sans-serif;
}

ul {
  list-style-type: none;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu__list {
  padding: 0 10%;
}

header,
footer {
  padding: 1% 0 1% 0;
  background: linear-gradient(#004D3A, #1B7C65);
  color: rgb(255, 255, 255);
}

footer {
  text-align: center;
}

.container {
  /* TOHLE TU BYLO PŘEDDEFINOVANÉ: max-width: 20rem; */
  margin-right: auto;
  margin-left: auto;
  display: flex;
}

.green,
.pink {
  flex-direction: row-reverse;
}

.green,
.white,
.pink {
  justify-content: center;
  align-items: center;
}
